[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/blanko/Desktop/iginfo]
row=4
col=0

[/home/blanko/Desktop/sherlock]
row=0
col=1

[2024-01-15-14-48-13-93]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/blanko]
row=2
col=0

